<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Email Handler</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
   
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02" >
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="#">Send-Email<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:4200/fetch">Fetch-Email</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="http://localhost:4200/about">About</a>
        </li>
        
      </ul>
      <ul class="navbar-nav " style="color:white ;">
        <li class="nav-item active">
          
        </li>
      </ul>

      <ul class="navbar-nav " style="color:white ;">
        <li class="nav-item active">
         Welcome {{queryemail2}}
        </li>
      </ul>
    </div>
  </nav>
  <form class="container" style="padding-top: 50px;padding-bottom: 50px;">
    <div class="form-group ">
      <label for="exampleInputEmail1">Sender mail</label>
      <input type="email" class="form-control" id="exampleInputEmail1" name ="email"  aria-describedby="emailHelp" placeholder="Enter recepient email" value="{{queryemail2}}">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <button type="submit" class="btn btn-primary " (click)="fetchEmail()">Submit</button>
  </form>

  <table class="table">
    <thead class="thead-dark">
      <tr >
        <th scope="col">User Email</th>
        <th scope="col">Recipient Email</th>
        <th scope="col">Subject</th>
        <th scope="col">Message</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let email of list">
        <th scope="row">{{email.user_email}}</th>
        <td>{{email.recipient_email}}</td>
        <td>{{email.subject}}</td>
        <td>{{email.message}}</td>
      </tr>
    
    </tbody>
  </table>
  
  

  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!------ Include the above in your HEAD tag ---------->
